@keyframes wave {
    0% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(-10%);
    }
  }
  
  .wave {
    animation: wave 10s linear infinite;
  }
  
  .container {
    background: linear-gradient(to bottom, #1e3a8a, #1e40af);
  }