# Dependency directories
node_modules/

# Environment variables file (e.g., .env)
.env

# Logs
logs/
*.log

# Editor-specific files
.vscode/
.idea/

# Dependency lock files
package-lock.json
yarn.lock

# Build output
dist/
build/

# IDE files
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db
